
env_conf = {
  "group"              : "workshop-containersonaws",
  "env"                : "sbx",
  "region"             : "eu-west-1"
  "vpc_cidr"           : "12.0.0.0/22"
}

cidr_block_public = ["12.0.1.0/24","12.0.2.0/24", "12.0.3.0/24"]
authorized_ips = ["0.0.0.0/0"]
